@import "base"
@import "colors"

body
  font-family: $font-base
  background-color: $gray-light

.invoice-view
  margin: 20px auto 
  width: 320px
  background-color: $white
  padding: 20px
  td.price
    width: 80px
  .total
    font-weight: 700
    &.allTotal
      font-size: 1.2em

  .checkout
    button
      width: 100%
